<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpretHold</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/opretHold.js"></script>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <div class="container">
        <form >
            <label for="Sport">Tennis type:</label>
            <select id="Sport" name="Sport" required>
                <option value="Tennis">Tennis</option>
                <option value="Padel">Padel</option>
            </select>

            <label for="BaneType">Bane Type:</label>
            <select id="BaneType" name="BaneType" required>
                <option value="Indendørs">Indendørs</option>
                <option value="Udendørs">Udendørs</option>
            </select>

            <span>
                <label for="baner">Vælg bane:</label>
                <select id="baner" name="baner" required>
                    <option value="Vælg">Vælg Bane</option>
                </select>
                <button id="addBane">Tilføj Bane</button>
            </span>
            
            <!-- For choosing a specific date in the week -->
            <label for="date">Dato:</label>
            <input type="date" id="date" name="date" required>

            <span>
                <!-- For choosing start and end dates of a period -->
                <label for="PeriodeStartDate">Periode start:</label>
                <input type="date" id="PeriodeStartDate" name="PeriodeStartDate" required>
    
                <label for="PeriodeEndDate">Periode slut:</label>
                <input type="date" id="PeriodeEndDate" name="PeriodeEndDate" required>
            </span>

            <label for="time">Tidspunkt:</label>
            <select id="time" name="time" required>
                <option value="vælg">Vælg tid</option>
                <% for (let i = 8; i <= 20; i++) { %>
                  <% const formattedHourStart = (i < 10) ? `0${i}` : `${i}`; %>
                  <% const formattedHourEnd = ((i + 1) < 10) ? `0${i + 1}` : `${i + 1}`; %>
                  <option value="<%= formattedHourStart %>:00"><%= formattedHourStart %>:00 - <%= formattedHourEnd %>:00</option>
                <% } %>
                <!--<option value="20:00">20:00 - 21:00</option-->
            </select>
        </form>
    </div>
    <%- include('partials/footer.ejs') %>

</body>
</html>
